gpu_image_processor.exe
*.obj
*.o
__pycache__/
.vscode/

input/*.pgm

# Keep processed outputs
# output/*.pgm

# Keep performance results
# results/*.csv
# results/*.log

# Temporary archives
*.zip
*.tar.gz
# SIPI dataset source files
misc.zip
sipi_dataset/
